nav#topbar {
    background-color: #000;
    color: #fff;
    height: 44px;
    box-sizing: border-box;
    padding: 9px 0;
}

img#main-logo {
    width: 232px;
    float: left;
    margin-right: 20px;
}

.container.main {
    padding: 30px 0;
    height: 132px;
    box-sizing: border-box;
}

nav#prod-cats {
    background-color: #00b3e0;
    height: 61px;
    color: #fff;
}

nav#prod-cats .container {
    height: 100%;
}

nav#prod-cats a {
    height: 100%;
    display: block;
    float: left;
    border-left: 1px solid #1abbe3;
    padding: 21px 20px;
    box-sizing: border-box;
}

nav#prod-cats a:last-of-type {
    border-right: 1px solid #1abbe3;
}

nav#menu-info {
    margin-bottom: 8px;
    float: left;
}

nav#menu-info a {
    font-size: 15px;
    margin-right: 18.8px;
}

input#header-search {
    width: 100%;
    width: 769px;
    height: 44px;
    border: 1px solid #e7e7e7;
    font-family: 'Effra', sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.02em;
    padding-left: 20px;
    box-sizing: border-box;
}

div#basket-widget {
    float: left;
    border: 1px solid #00b4e1;
    color: #00b4e1;
    height: 44px;
    box-sizing: border-box;
    width: 138px;
    margin-left: 20px;
    padding-top: 2px;
}

#main-header form {
    float: left;
}

div#basket-widget span {
    display: block;
    white-space: nowrap;
}

div#basket-widget:before {
    content: url(/img/basket.svg);
    float: left;
    margin: 11px 14px;
}

span.bw-count {
    font-weight: bold;
}

a#topbar-city {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 12px;
    width: 68px;
    height: 24px;
    text-align: center;
    /* line-height: 2; */
    font-size: 12px;
    padding: 3px;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 19px;
}

a#topbar-tel {
    font-size: 19px;
}

span#work-hours {
    margin-left: 19px;
    font-size: 12px;
    vertical-align: text-top;
    line-height: 1.7;
}

a#sign-up-in {
    font-size: 14px;
    float: right;
}

a#sign-up-in:after {
    content: url(/img/person.svg);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}


form#subscribe button {
    background-color: #ffdf0f;
    border-radius: 5px;
    width: 189px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 2.6;
}

.col.catalog, .col.about, .col.help, .col.service {
  width: 11.11%;
}

.col.subscribe {
  width: 22.22%;
}

.col.social {
  width: 33.33%;
}


footer#main-footer {
    background-color: #f6f6f6;
    overflow: auto;
    border-top: 1px solid #dcddde;
    padding-top: 24px;
}