@font-face {
    font-family: 'Effra';
    src: url('/fonts/effra/effra-light.eot');
    src: url('/fonts/effra/effra-light.eot?#iefix') format('embedded-opentype'), url('/fonts/effra/effra-light.woff') format('woff'), url('/fonts/effra/effra-light.ttf') format('truetype'), url('/fonts/effra/effra-light.svg#effra-light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    /*unicode-range: U+0020-FB04;*/
}

@font-face {
    font-family: 'Effra';
    src: url('/fonts/effra/effra-regular.eot');
    src: url('/fonts/effra/effra-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/effra/effra-regular.woff') format('woff'), url('/fonts/effra/effra-regular.ttf') format('truetype'), url('/fonts/effra-regular.svg#effra-regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    /*unicode-range: U+0020-FB04;*/
}

@font-face {
    font-family: 'Effra';
    src: url('/fonts/effra/effra-bold.eot');
    src: url('/fonts/effra/effra-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/effra/effra-bold.woff') format('woff'), url('/fonts/effra/effra-bold.ttf') format('truetype'), url('/fonts/effra/effra-bold.svg#effra-bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    /*unicode-range: U+0020-FB04;*/
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Effra', sans-serif;
    font-weight: bold;
    color: #242424;
    line-height: 0.7;
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.col {
    float: left;
    min-height: 1px;
    box-sizing: border-box;
}


h1 {
    font-size: 55px;
    margin-bottom: 30px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

section#hero {margin-bottom: 60px;}

div#hero-headings {
    margin-bottom: 64px;
}

p {
    font-size: 20px;
    line-height: 1.8;
    margin: 0;
    margin-top: -8px;
}

h2, h3 {
    color: #ff451a;
    margin-bottom: 30px;
}

h4 {
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #383838;
    font-weight: 400;
    margin-bottom: 17px;
}

article#bd-placeholder {
    padding-top: 60px;
    font-family: 'Effra', sans-serif;
    padding-bottom: 52px;
}

input[type="email"] {
    -webkit-appearance: none;
    border: 1px solid #383838;
    border-radius: 5px;
    height: 53px;
    box-sizing: border-box;
    font-family: 'Effra',sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    width: 161px;
    letter-spacing: 0.05em;
    width: 225px;
    text-align: center;
    margin-right: 17px;
}

button[type="submit"] {
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    height: 53px;
    box-sizing: border-box;
    font-family: 'Effra',sans-serif;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #383838;
    width: 161px;
    letter-spacing: 0.05em;
}

form.col {
    float: right;
}

.item {
    width: 33%;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    float: left;
}

span.discount {
    font-size: 50px;
    color: #ff451a;
    font-weight: bold;
    display: inline-block;
    line-height: 0.75;
    margin-bottom: 20px;
}

span.count {
    font-size: 30px;
    color: #303030;
    font-weight: 300;
    line-height: 0.7;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

span.count:after {
    content: "";
    display: block;
    width: 215px;
    height: 1px;
    background-color: #f2f2f2;
    margin-top: 16px;
}

h2.section {
    clear: both;
    font-size: 30px;
    color: #383838;
    font-weight: 300;
    background-color: #fff;
    padding: 0 60px;
    display: inline-block;
    z-index: 1;
    margin-bottom: 60px;
}

.row {
    overflow: auto;
    margin: 0 -20px;
}

.sh-wrap:before {content: "";display: inline-block;width: 100%;height: 1px;background-color: #a0a0a0;position: absolute;top: 11px;z-index: -1;left: 0;}

.sh-wrap {
    position: relative;
    text-align: center;
}

span.item-name {
    text-align: center;
    color: #303030;
    font-size: 24px;
    display: block;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}

span.price-reg {
    font-size: 25px;
    font-weight: bold;
    color: #303030;
    margin: 0 8px;
    position: relative;
    display: inline-block;
}

span.price-sale {
    font-size: 36px;
    font-weight: bold;
    color: #303030;
    margin: 0 8px;
    display: inline-block;
}

span.price-reg:after {content: "";background-color: #ff451a;width: 130%;height: 2px;display: block;position: absolute;top: 16px;left: -15%;right: -15%;}

.prices {
    /* margin-left: -30px; */
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center center;
}